@charset "utf-8";
@import url("menu.css");
/* CSS Document */body {
	font-family: Verdana, Geneva, sans-serif;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-x;
	background-color: #E9F3D8;
}
#container {
	position: relative;
	height: 3800px;
	width: 960px;
	border: 5px solid #117F16;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#links {
	background-image: url(../images/links.png);
	background-repeat:no-repeat;
	background-color:#B2DA7A;
	width: 140px;
	height: 3800px;
	float: left;
}
header {
	position: relative;
	float: right;
	width: 820px;
	height: 100px;
	background-image: url(../images/bg_header.png);
	border-bottom: 5px solid #117F16;
	background-repeat: repeat-x;
	background-color: #26A61C;
}
h1 {
	font-size: 24px;
	color: #234F18;
	padding-left: 50px;
	margin-left: 5px;
	margin-right: 5px;
	font-family: 'Anton', sans-serif;
	border-left: 50px solid #117F16;
	border-right: 5px solid #117F16;
	border-top: 5px solid #117F16;
	border-bottom: 5px solid #117F16;
}
h2 {
	font-size: 20px;
	color: #1D5F1E;
	text-decoration: underline;
	font-family: 'Princess Sofia', cursive;
}
h3 {
	font-size: 34px;
	color: #FFFFFF;
	text-align:center;
	font-family: 'Slabo 27px', serif;
    float: left;
    padding-left: 15px;
}
#midden {
	width: 605px;
	height: 3695px;
	float: left;
	border-right-style: dotted;
	border-right-color:#117F16;
	border-right-width: 5px;
	background-color: #FFF;
}
#right {
	width: 140px;
	float: right;
	height: 3695px;
	background-color: #B2DA7A;
	padding-right: 70px;
	text-align: end;

}
p.eerste_letter::first-letter {
	font-size: 2em;
	color: #004f19;
	font-weight: bold;
	text-align: center;
}
#movie {
	padding-left: 95px;
}
.kolom2 {
	background: radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
radial-gradient(at 100% 100%,     rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px),
#8a3;
background-size: 20px 20px;
}
#formule {
	padding-left: 230px;
}
